
@main("Home") {

    <div class="container">
        <h1>Welcome. We're pushy.</h1>
        <p class="lead">
            <a href="http://gravatar.com">Gravatars</a>, globally recognized avatars... what a great idea.
        </p>
        <p>
            A simple, single place to manage your avatars
            across multiple sites. You upload your chosen image once and ta-da, it's
            available on all your favourite sites.  Like Twitter you mean? Er, no.  LinkedIn? Nope.
            OK, surely Facebook? Fail.
        </p>
        <p>
            That's where GravatarPUSH comes in.  We allow you to push your Gravatar to your favourite social
            networks.  Changing your avatar doesn't have to be painful anymore.
        </p>
        <p>
            <small>
                It would be unfair to not mention the cool guys at GitHub, Stackoverflow and Wordpress
                who actually do offer users the opportunity to pull from Gravatar already.
            </small>
        </p>
    </div>
    
}